<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>1</particles>
  <batches>1</batches>
  <inactive>0</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="point">
      <parameters>1150.4632020627942 208.03191258830367 -342.683317571569</parameters>
    </space>
    <angle type="monodirectional" reference_uvw="-0.18576840436937242 -0.9629860881744358 -0.1953148584223821"/>
    <energy type="discrete">
      <parameters>1000000.0 1.0</parameters>
    </energy>
  </source>
  <output>
    <summary>true</summary>
    <tallies>false</tallies>
  </output>
  <track>1 1 1</track>
</settings>
