<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>1</particles>
  <batches>1</batches>
  <inactive>0</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="point">
      <parameters>208.0320656534806 1150.463054776352 342.6832470608369</parameters>
    </space>
    <angle type="monodirectional" reference_uvw="-0.9629859901943502 -0.1857686418725298 0.19531511561126733"/>
    <energy type="discrete">
      <parameters>1000000.0 1.0</parameters>
    </energy>
  </source>
  <output>
    <summary>true</summary>
    <tallies>false</tallies>
  </output>
  <track>1 1 1</track>
</settings>
