<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>1</particles>
  <batches>1</batches>
  <inactive>0</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="point">
      <parameters>666.1152192518199 521.1924474195735 -300.1216066792137</parameters>
    </space>
    <angle type="monodirectional" reference_uvw="-0.6540505604313129 0.26231250398444017 0.7095139284417878"/>
    <energy type="discrete">
      <parameters>1000000.0 1.0</parameters>
    </energy>
  </source>
  <output>
    <summary>false</summary>
    <tallies>false</tallies>
  </output>
  <track>1 1 1</track>
</settings>
