<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>1</particles>
  <batches>1</batches>
  <inactive>0</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="point">
      <parameters>861.8030801898003 841.9554627453812 127.44973702678193</parameters>
    </space>
    <angle type="monodirectional" reference_uvw="0.35756734136334595 -0.6081775992823861 -0.7087069945481432"/>
    <energy type="discrete">
      <parameters>1000000.0 1.0</parameters>
    </energy>
  </source>
  <output>
    <summary>true</summary>
    <tallies>false</tallies>
  </output>
  <track>1 1 1</track>
</settings>
