<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>1</particles>
  <batches>1</batches>
  <inactive>0</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="point">
      <parameters>594.1560602066857 984.9409380040619 235.77154335911678</parameters>
    </space>
    <angle type="monodirectional" reference_uvw="0.7407340729310136 -0.12218908266448046 -0.6605928104942141"/>
    <energy type="discrete">
      <parameters>1000000.0 1.0</parameters>
    </energy>
  </source>
  <output>
    <summary>false</summary>
    <tallies>false</tallies>
  </output>
  <track>1 1 1</track>
</settings>
