<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>1</particles>
  <batches>1</batches>
  <inactive>0</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="point">
      <parameters>521.1925344051424 666.1151506171631 300.12160678127634</parameters>
    </space>
    <angle type="monodirectional" reference_uvw="0.26231241962251484 -0.6540505957025572 -0.7095139271169466"/>
    <energy type="discrete">
      <parameters>1000000.0 1.0</parameters>
    </energy>
  </source>
  <output>
    <summary>false</summary>
    <tallies>false</tallies>
  </output>
  <track>1 1 1</track>
</settings>
